@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Arial Rounded MT Bold";
}
.back-btn {
    margin-bottom: 20px;
}

.btn-back {
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid #2f3b31;
    color: rgb(248, 239, 239);
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.btn-back:hover {
    background-color: #5e7261c1;
    color: black;
    box-shadow: 0 0 12px #2f3b31;
}
#metname {
    font-size:x-large;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

body {
    width: 100%;
    /* background-image: url("imgs/sc1.jpg"); */
    background-color: #958a7cca;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-links {
    display: flex;
    align-content: center;
    padding-top: 5%;
}

.head1 {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
    overflow: hidden;
    white-space: nowrap;
}

.nav-links li a {
    font-size: 1.8rem;
    color: #3a392f;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    margin: 20px;
}



.nav-links li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #3f403e;
    display: block;
    margin: auto;
    transition: 0.7s;
}

.nav-links li:hover::after {
    width: 70%;
    box-shadow: 8px 8px 15px #0000005c;
}

#logo1 {
    height: 100px;
    width: 130px;
    transition: 0.5s;
}

#logo1:hover {
    height: 105px;
    width: 137px;
}






.search {
    width: max-content;
    display: flex;
    height: 14px;
    margin-top: 2%;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background: #b3b7b04e;
    transition: background 1s;
}

.search:hover {
    background: #f2f1f1;
    box-shadow: 10px 10px 25px #0000005c;
}

.searchbar {
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search-icon,
.searchbar::placeholder {
    color: rgba(0, 0, 0, 0.781);
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.main_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.main_sec .home-content h1 {
    padding-left: 19%;
    font-size: 70px;
    /* font-size: 6vw; */
    font-weight: 700;
    line-height: 1.3;
}

#ea {
    color: #3a392f;
    font-size: 130px;
    font-family: cursive;
    font-weight: 700;
    padding-left: 19%;
}

.home-content {
    display: block;
    align-content: center;
    background: linear-gradient(135deg, #3a392fbf, #3a392f5b);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 15%;
    overflow-x: hidden;
    width: 80%;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.social-icons {
    padding-left: 40%;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #000000;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #000000;
}

.social-icons a:hover {
    color: whitesmoke;
    transform: scale(1.3) translateY(-5px);
    background-color: #000000;
    box-shadow: 0 0 25px #000000;
}

.btn {
    margin-left: 39%;
    display: inline-block;
    padding: 2rem 2.8rem;
    background-color: rgba(0, 0, 0, 0.531);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #2f3b31;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #5e7261c1;
    color: black;
    box-shadow: 0 0 25px #2f3b31;
}

#dsimg {
    height: 190px;
    width: 310px;
    border-radius: 15px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.445);
}

.desc {
    display: flex;
    justify-content: space-between;
}

#more {
    font-size: medium;
    margin-left: 70%;
    color: #321f17;
}





.home-content-log {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 15%;
    overflow-x: hidden;
    width: 80%;
}



/*----------------------------------- responsive-------------------- */
@media(max-width:1024px) {
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 5px;
    }

    .wrapper3 {
        display: block;
        padding: 30px;
    }

    .btn {
        margin-left: 30%;
    }

    .main_sec .home-content h1 {
        padding-left: 10%;
    }

    #ea {
        padding: 10%;
    }

    #dsimg {
        height: 160px;
        width: 250px;
    }

    #desc {
        margin-left: 5px;
    }

    #eas {
        margin-left: 19%;
    }
    #logimg{
        height: 200px;
    }
    .social-icons {
        padding-left: 35%;
    }
    #metname{
        font-size: large;
    }
    #metdesc{
        font-size: small;
    }
    .btn1{
        margin-left: 5%;
    }
   

}

@media (max-width:768px) {
    .head1 {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 5px;/
    }

    .searchbar {
        width: 200px;
    }

    #ea {
        font-size: 100px;
        padding: 0%;
    }
    #logimg{
        display: none;
    }

    .main_sec .home-content h1 {
        padding-left: 5%;
        font-size: 60px;
    }

    #dsimg {
        height: 190px;
    }

    #more {
        margin-left: 0;
    }

    #eas {
        margin-left: 8%;
    }

    .btn1 {
        padding: 1rem 0.5rem;
        font-size: x-small ;
    }

    .social-icons {
        padding-left: 30%;
    }
    #mp{
        height: 180px ;
    }
    #metname{
        font-size: large;
    }
    #metdesc{
        font-size:x-small;
    }
    .wrapper3 {
        display: block;
        padding: 15px;
    }

}

@media(max-width:425px) {
    .main_sec .home-content h1 {
        padding-left: 0%;
        font-size: 35px;
        font-weight: 700;
        line-height: 1.3;
    }

    #ea {
        font-size: 50px;
        padding: 0;
    }

    .btn {
        margin-left: 10%;
    }

    .wrapper3 {
        padding: 10px;
    }

    .desc {
        display: block;
    }

    #desc1 {
        position: absolute;
        margin-top: 70%;
    }

    .desc1 {
        margin-bottom: 110%;
    }

    #eas {
        margin-left: 15%;
        font-size: 70px;

    }

    .home-content {
        padding: 0%;
    }

    section {
        padding: 0;
    }

    .metprod {
        margin-left: 2.5%;
        padding: 20px;
    }

    .btn1 {
        margin-left: 2%;
        padding: 0.2rem 0.3rem;
    }

    .social-icons {
        padding-left: 10%;
    }
    #mp{
        height: 120px ;
        margin-right: 5px;
    }
    #metname{
        font-size: large;
    }
    #metdesc{
        font-size:xx-small;
    }
    .wrapper3 {
        display: block;
        padding: 15px;
    }
    .metprod{
        padding: 0px;
        margin-left: 0px;
    }


}